# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# docker run -e ACCEPT_EULA=Y -e MSSQL_SA_PASSWORD=Passw0rd -p 1433:1433 -d mcr.microsoft.com/mssql/server
DATABASE_URL="sqlserver://localhost:1433;database=master;user=sa;password=Passw0rd;encrypt=true"
# For self-signed certificates
# DATABASE_URL="sqlserver://localhost:1433;database=master;user=sa;password=Passw0rd;encrypt=true;trustServerCertificate=true"